<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div class="ads-container">
    <% anuncios.forEach( anuncio => {%>
      <div class="ad-container">
          <%= (anuncio.venta) ? 'Se vende' : 'Se busca' %>:<br>
          <span class="ad-title"><b><%= anuncio.nombre%></b></span><br>
          <div style="height:180px;">
            <img src="/images/<%= anuncio.foto %>" width="180" alt=<%=anuncio.foto %> /><br>
          </div>
          Precio: <%= anuncio.precio%> €<br><br>
          <span class="tags">Etiquetas: 
            <% anuncio.tags.forEach( tag => {
               %> <a href='/?tag=<%=tag%>'><%=tag%> </a><%
            })%>
          </span>
        </div>
    <%}); %>
    </div>
  </body>
</html>
